.card {
  padding: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 30px;
  row-gap: 40px;
  margin: 0 auto;
  /* max-height: 300px; */
}
